<html>
    <body>
        <h1>1. BMW</h1>
        <p>BMW AG — немецкий производитель автомобилей, мотоциклов, двигателей, а также велосипедов. 
            Более 45 % акций принадлежит семье Квандт. Председателем правления компании является Оливер Ципсе. 
            Главный дизайнер — Йозеф Кабан. 
            В списке крупнейших публичных компаний мира Forbes Global 2000 за 2022 год BMW Group заняла 64-е место, 
            а в списке Fortune Global 500 — 59-е место. Девиз компании — «Freude am Fahren», 
            с нем. — «С удовольствием за рулём». Для англоязычных стран был придуман также девиз «The Ultimate Driving Machine». 
            BMW является аббревиатурой названия Bayerische Motoren Werke AG, 
            хотя в последнем по правилам немецкого языка Motorenwerke должно писаться слитно. 
            По-русски название «BMW» произносится «бэ-эм-вэ́», что близко к немецкому произношению; 
            изредка встречается написание «БМВ». Существует также несколько «неофициальных» названий: 
            из англоязычного произношения аббревиатуры «би-эм-дабл-ю» для мотоциклов фирмы исторически сложилось название «бимер», 
            для автомобилей — похожее, но не равнозначное «биммер». 
            В России для обозначения марки могут также применяться названия «бэха», «биммер», «бумер», в Греции — «beba», 
            в арабских странах — «BM». Автомобили также могут называться соответственно их серии, например для 5-й серии — «пятёрка». 
            В 2021 году группа BMW выпустила 2,52 млн автомобилей; основным брендом является BMW, далее следуют MINI и Rolls-Royce. 
            Мотоциклов за тот же год было произведено 194 тысячи.</p>
            <img src=" {{ url_for('static', filename='images/log_BMW.jpg') }} " width="180px"/>
        <h1>2. Ford</h1>
        <p>Ford Motor Company, «Форд мотор компани» — американская автомобилестроительная компания. 
            Четвёртый в мире производитель автомобилей по объёму выпуска за весь период существования. 
            Компания основана в Детройте в 1903 году Генри Фордом, который создал её, 
            получив на развитие бизнеса $28 000 от пяти инвесторов. 
            Сразу после создания компании против неё подал иск изобретатель автомобиля Джордж Селден, утверждая, 
            что Форд нарушает его патент; в 1911 году суд признал патент Селдена недействительным. 
            Первым автомобилем компании Форда была «Модель А», за первый год работы их было выпущено 1708 штук. 
            В августе 1904 года был открыт завод в Канаде, 
            а в 1908 году в Париже было открыто первое зарубежное торговое представительство. 
            Первой получившей массовое признание моделью, выпускаемой компанией, стал Ford Model T, 
            выпускавшийся в 1908—1927 годах; только за 1909 год их было выпущено 10 тысяч, а за все годы — 15 млн. 
            Компания Ford получила известность как первая в мире, применившая классический автосборочный конвейер, 
            запущенный впервые в 1913 году. 
            Применение конвейера позволило снизить цену Ford Model T с 950 долларов в 1909 году до 290 долларов в 1926 году. 
            Merkur — автомобильная марка, принадлежавшая европейскому отделению Ford. 
            Марка использовалась с 1985 по 1989 год, эти автомобили поставлялись на американский континент со своей эмблемой Merkur. 
            Моделей было всего две — Sierra и Scorpio.</p>
            <img src=" {{ url_for('static', filename='images/log_Ford.jpg') }} " width="220px"/>
        <h1>3. Honda</h1>
        <p>Honda Motor Co., Ltd. — японская транснациональная корпорация, 
            основанная в 1948 году изобретателем и предпринимателем Соитиро Хондой и финансистом Такэо Фудзисавой, 
            производитель автомобилей и мотоциклов. Honda является крупнейшим производителем мотоциклов в мире с 1959 года, 
            достигнув 400 миллионов произведённых мотоциклов к концу 2019, 
            а также крупнейший в мире производитель двигателей внутреннего сгорания, 
            производящий более 14 миллионов двигателей внутреннего сгорания ежегодно. 
            В 2001 году Honda стала вторым по величине японским производителем автомобилей. 
            В 2015 году Honda была восьмым по величине производителем автомобилей в мире. 
            Первым мотоциклом полностью производства Honda был D-Type 1949 года, первый мотоцикл Honda под названием Dream. 
            В 1950 году Хонде удалось разработать четырёхтактный двигатель с вдвое большей мощностью, чем были до этого, 
            благодаря чему мотоциклы Honda быстро начали завоёвывать популярность. Также до конца 1950-х мотоциклы конструкции, 
            разработанной Хондой, выиграли все наиболее престижные мотогонки в мире. 
            К 1954 году они достигли 15-процентной доли рынка в Японии.</p>
            <img src=" {{ url_for('static', filename='images/log_Honda.jpg') }} " width="200px"/>
        <h1>4. Ferrari</h1>
        <p>Ferrari S.p.A. — итальянская компания, выпускающая спортивные и гоночные автомобили, базирующаяся в Маранелло. 
            Основана в 1947 году Энцо Феррари как Scuderia Ferrari, 
            компания спонсировала гонщиков и производила гоночные автомобили до 1947 года. 
            С 1947 года начала выпуск спортивных автомобилей, разрешённых к использованию на дорогах общего пользования, 
            под маркой «Ferrari S.p.A.». На протяжении всей своей истории, компания участвует в различных гонках, 
            особенно в Формуле-1, где она имеет наибольший успех. Эмблема «Феррари» — гарцующий жеребец на жёлтом фоне. 
            Традиционный цвет автомобилей — красный, но компания выпускает автомобили и других цветов. 
            Компания выпускает гоночные и спортивные автомобили. В 2008 году компания произвела 6662 автомобиля. 
            Численность персонала компании на конец 2008 года составила 3017 человек. Оборот в 2008 году составил 1,921 млрд евро.
            Гоночное подразделение компании «Скудерия Феррари» выступает в гонках Формула 1 и является самой успешной за всю историю гонок.</p>
            <img src=" {{ url_for('static', filename='images/log_Ferrari.jpg') }} " width="160px"/>
        <h1>5. Porsche</h1>
        <p>Porsche AG — немецкий производитель автомобилей, основанный конструктором Фердинандом Порше в 1931 году, 
            в настоящее время — дочерняя структура Porsche Automobil Holding. 
            Штаб-квартира и основной завод находятся в Штутгарте, Германия. 
            Компания выпускает спортивные автомобили класса «люкс», а также внедорожники. 
            Производство Porsche в значительной мере кооперируется с Volkswagen. 
            А параллельно с участием в автоспорте ведётся работа над совершенствованием конструкции автомобиля: 
            в разные годы были разработаны синхронизаторы механической КПП, автоматические КПП с возможностью ручного переключения, 
            турбонаддув для серийного автомобиля, турбонаддув с изменяемой геометрией крыльчатки турбины в бензиновом двигателе, 
            электронно-управляемая подвеска и так далее. Эмблема фирмы представляет собой герб, несущий в себе следующую информацию: 
            чёрно-красные полосы и оленьи рога являются элементами герба германской земли Вюртемберг, 
            столицей которой был город Штутгарт, а надпись «PORSCHE» и гарцующий жеребец в центре эмблемы напоминают о том, 
            что родной для марки Штутгарт был основан как конная ферма в 950 году. 
            Автором логотипа является Франц Ксавьер Раймшписсrude. Впервые логотип появился в 1952 году, 
            когда марка вышла на рынок США, для лучшей узнаваемости. До этого на капотах автомобилей была только надпись «PORSCHE». 
            К моменту выпуска первого автомобиля под своим именем Фердинанд Порше успел накопить немалый опыт. 
            Основанное им 25 апреля 1931 года предприятие Dr. Ing. h.c. F. 
            Porsche GmbH под его началом уже успело поработать над такими проектами, 
            как 6-цилиндровый гоночный Auto Union и Volkswagen Käfer, ставший одним из самых продаваемых автомобилей в истории. 
            В 1939 году был разработан первый автомобиль компании — Porsche 64, который стал прародителем всех будущих Porsche. 
            Для постройки этого экземпляра Фердинанд Порше использовал многие компоненты от Volkswagen Käfer.</p>
            <img src=" {{ url_for('static', filename='images/log_Porsche.jpg') }} " width="210px"/>
        <h1>6. Lamborghini</h1>
        <p>Automobili Lamborghini S.p.A. — итальянская компания, производитель дорогих спортивных автомобилей под маркой Lamborghini. 
            Находится в коммуне Сант-Агата-Болоньезе, около Болоньи. Компания основана в 1963 году Ферруччо Ламборгини; 
            на тот момент он уже был владельцем крупной компании по производству тракторов. 
            Сам Ламборгини после основания автомобильной компании владел ею ещё 9 лет. Сегодняшний владелец компании — Audi. 
            Существует несколько версий о причинах, по которым Ламборгини основал собственную фирму. 
            Все эти версии сводятся к конфликту между Энцо Феррари и Ферруччо Ламборгини. 
            Наиболее популярная версия, рассказанная сыном Ферруччо Ламборгини, гласит, 
            что Ламборгини приехал на фабрику к Энцо Феррари пожаловаться на качество сцепления в своём автомобиле Ferrari 250 GT. 
            Энцо отправил Ламборгини обратно с пожеланием и дальше заниматься тракторами, потому что в автомобилях, 
            а тем более спортивных, Ламборгини ничего не понимает. Ламборгини вернулся на фабрику, 
            разобрал трансмиссию в своём Ferrari 250 GT и обнаружил, что производитель многих деталей тот же, 
            что и в тракторах Lamborghini. На своих складах он нашёл подходящую замену, и после сборки проблема была решена. 
            Ферруччо Ламборгини установил за правило, что автомобили Ламборгини не участвуют в гонках, 
            поэтому в годы его руководства компания не производила гоночных автомобилей. Но, уже оказавшись под руководством Розетти, 
            компания вместе с BMW решила создать автомобиль, пригодный для автогонок. 
            Однако Ламборгини со своей частью задачи не справилась, и автомобиль был целиком разработан спортивным отделением BMW. 
            Позднее он поступил в производство и продажу как BMW M1. 
            В 1986 году для участия в соревнованиях группы «C» компания создала автомобиль Lamborghini QVX. 
            Автомобиль был построен, но проблемы со спонсорами вынудили пропустить сезон. 
            QVX участвовал только в одной непризовой гонке на трассе «Кьялами» в 1986 году под управлением Тиффа Ниделла. 
            Несмотря на то, что автомобиль показал достаточно неплохой результат, программа финансирования была свёрнута.</p>
            <img src=" {{ url_for('static', filename='images/log_Lamborghini.jpg') }} " width="170px"/>
    </body>
</html>
